@import url('./fonts/Gilroy.css');

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f1f5f9;

  text-rendering: optimizeLegibility;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width: full;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f1f5f9;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Sử dụng Tailwind CSS để tạo lớp tùy chỉnh */
.custom-add-button .dx-button-content {
  @apply bg-[#4590FF] text-white rounded-md; /* Áp dụng màu nền, màu văn bản và góc bo tròn từ Tailwind */
  border-radius: 4px;
  font-family: 'Gilroy';
  font-weight: 500;
}

.dx-datagrid {
  font-family: 'Gilroy', sans-serif;
}

.custom-add-button {
  border-radius:4px;
  width: 130px;
  height: 36.5px;
}

/* Màu nền khi hover */
.custom-add-button .dx-button-content:hover {
  @apply bg-[#357AE8]; /* Áp dụng màu nền khi hover từ Tailwind */
  border-radius: 4px;
}

/* Màu nền khi nút bị nhấn */
.custom-add-button .dx-button-content:active {
  @apply bg-[#357AE8]; /* Áp dụng màu nền khi nút bị nhấn từ Tailwind */
  border-radius: 4px;
}

.custom-add-button .dx-icon {
  color: white; 
}

@tailwind base;
@tailwind components;
@tailwind utilities;